.navbar {
    background-color: #1c2229;
    color: white;
    display: flex;
    justify-content: flex-end; /* Coloca los elementos a los lados */
    padding: 10px 20px; /* Ajusta el espacio alrededor de los elementos */
  }
  
  .navbar-button {
    background-color: transparent;
    color: white;
    border: none;
    margin-left: 10px; /* Ajusta el espacio entre los botones */
    cursor: pointer;
  }
  
  .navbar-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Cambia el color de fondo al pasar el mouse */
  }

  .navbar-right {
    margin-right: 3rem;
    display: flex;
  }
  
  .notifications-container {
    position: relative;
  }

  .modal-notifications {
    background-color: #1c2229;
    position: absolute;
    width: 300px;
    height: 600px;
    top: calc(100% + 15px); /* Ajusta según sea necesario */
    left: -70%; /* Ajusta según sea necesario */
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 1rem;
  }

